:root {
    --bg1:#f6f6f6;
    --bg2: hsl(204, 16%, 24%);
    --nba: #4CBB17;
    --hov: rgb(105, 138, 230);
    --lghtxt: #fff;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--bg1);
}

/* Global Styles */
.container {
    width: 80%;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

.dark {
    padding:15px;
    background-color: var(--bg2);
    color: var(--lghtxt);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header Styles */
header {
    background:var(--bg2);
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: var(--nba) 3px solid ;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #header-brand {
    float: left;
}

header #header-brand h1 {
    vertical-align: middle;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 9px;
    font-weight: bold;
}

header .feature,
header .active a {
    color: var(--nba);
}

header a:hover {
    color: var(--hov);
}

/* Icon styles */
.fa-7x {
    color: var(--nba);
}

/* Affordable Web Design Blurb */
section#blurb {
    min-height: 400px;
    /* Image Source: https://www.pexels.com/photo/computer-desk-hand-laptop-374631/ */
    background-image: url("../img/pexels-burst-374631.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--lghtxt);
}

section#blurb h1 {
    padding-top: 15%;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

/* Contact Form Section */
section#contact-form {
    padding:15px;
    color: var(--lghtxt);
    background: var(--bg2);
    height: 125px;
}

section#contact-form>h2 {
    /* placeholding */
}

#contact-form form {
    /* palceholding */
}

form input {
    padding: 4px 7px;
    height: 20px;
}

form input[type="text"]{
    width:125px;
}

form input[type="tel"]{
    width: 85px;
}

form label {
    font-size: 20px;
    vertical-align: middle;
    padding: 8px;
}

.submit-button {
    height: 38px;
    background: var(--nba);
    border: none;
    padding: 0 25px;
    margin-left: 50px;
    color: var(--lghtxt);
}

/* Skills Section */
section#skills {
    margin-top: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section#skills div.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
}

section#skills .skill {
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}



/* About Page Sidebar */
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}


/* About Page Text Column */
article#text-col {
    float: left;
    width: 65%;
}

/* come back to ... maybe go class not id */
.text-col {
    float: left;
    width: 65%;
}
.sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}



/* Footer Style */
footer {
    padding:20px;
    margin-top: 25px;
    text-align: center;
    background-color: var(--nba);
    color: var(--lghtxt);
    clear: both;
}


