:root {
    --bg1:#f6f6f6;
    --bg2: #333f47;
    --nba: #df751f;
    --hov: rgb(105, 138, 230);
    --lghtxt: #fff;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--bg1);
}

/* Global Styles */
.container {
    width: 80%;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background:var(--bg2);
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: var(--nba) 3px solid ;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #header-brand {
    float: left;
}

header #header-brand h1 {
    vertical-align: middle;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 9px;
    font-weight: bold;
}

header .feature,
header .active a {
    color: var(--nba);
}

header a:hover {
    color: var(--hov);
}

/* Affordable Web Design Blurb */
section#blurb {
    min-height: 400px;
    background: url("../img/Grain-Stock-1-Ryan-Roga.jpg") no-repeat 0 -300px;
    color: var(--lghtxt);
}

section#blurb h1 {
    padding-top: 15%;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

/* Contact Form Section */
section#contact-form {
    padding:15px;
    color: var(--lghtxt);
    background: var(--bg2);
    height: 125px;
}

section#contact-form>h1 {
    float: left;
    width: auto;
}

#contact-form form {
    float: left;
}

form input {
    padding: 4px 7px;
    height: 20px;
}

form input[type="text"]{
    width:125px;
}

form input[type="tel"]{
    width: 85px;
}

form label {
    font-size: 20px;
    vertical-align: middle;
    padding: 8px;
}

.btn1 {
    height: 38px;
    background: var(--nba);
    border: none;
    padding: 0 25px;
    margin-left: 50px;
    color: var(--lghtxt);
}

/* Skills Section */
section#skills {
    margin-top: 25px;
}

section#skills div.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section#skills .skill {
    margin: 20px;
}