:root {
    --bg1:#f6f6f6;
    --bg2: hsl(204, 16%, 24%);
    --nba: #4CBB17;
    --nbafocus:  #EB54E4;
    --hov: rgb(105, 138, 230);
    --lghtxt: rgb(251, 251, 251);
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--bg1);
}

/* Global Styles */
.container {
    width: 80%;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

.dark {
    padding:15px;
    background-color: var(--bg2);
    color: var(--lghtxt);
}

/* Header Styles */
header {
    background:var(--bg2);
    color: #fff;
    padding-top: 20px;
    min-height: 60px;
    border-bottom: var(--nba) 3px solid ;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #header-brand {
    float: left;
}

header #header-brand h1 {
    vertical-align: middle;
    margin: 0;
    cursor: default;
}

header nav {
    float: right;
    margin-top: 9px;
    font-weight: bold;
}

header .feature,
header .active a {
    color: var(--nba);
}

header a:hover {
    color: var(--hov);
}

/* Icon styles */
.fa-7x {
    color: var(--nba);
}


/* Affordable Web Design Blurb */
section#blurb {
    min-height: 460px;
    /* Image Source: https://www.pexels.com/photo/computer-desk-hand-laptop-374631/ */
    background-image: url("../bkg/pexels-junior-teixeira-2047905.jpg");
    background-repeat: no-repeat;
    background-position-y: -460px;
    background-size: cover;
    color: var(--lghtxt);

}

section#blurb h1 {
    padding-top: 10%;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

br.mobile-only {
    display: none;
}

section#blurb p {
    text-align: center;
    font-size: 1.1rem;
}

/* Contact Form Section */
section#contact-form {
    padding:15px;
    color: var(--lghtxt);
    background: var(--bg2);
    height: 125px;
    max-width: 420px;
    margin: 50px auto;
}

.submit-button {
    height: 38px;
    background: var(--nba);
    border: none;
    padding: 0 25px;
    margin-left: 50px;
    color: var(--lghtxt);
}

.services-input {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--lghtxt);
    font-weight:500;
    font-size:18px;
    border-radius: 3px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid var(--nba);
    padding: 13px;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
    outline:0;
    transition: all 0.5s;
}

.services-input:focus{
    border: 2px solid var(--nbafocus);
}

textarea.services-input {
    height: 150px;
    width: 100%;
    line-height: 150%;
    resize: vertical;
}

[type="submit"].services-submit {
    width:100%;
    background: var(--nba);
    border-radius: 5px;
    border:0;
    cursor:pointer;
    color: var(--lghtxt);
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -4px;
    font-weight: 700;
    transition: all 0.5s;
}

[type="submit"].services-submit:hover {
    background: var(--nbafocus);
}

/* Skills Section */
section#skills {
    margin-top: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section#skills h2 {
    text-align: center;
    margin-top: 40px;
}

section#skills div.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
}

section#skills .skill {
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}



/* About Page Sidebar */
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}


/* About Page Text Column */
article#text-col {
    float: left;
    width: 65%;
}

/* come back to ... maybe go class not id */
.text-col {
    float: left;
    width: 65%;
}
.sidebar {
    float: right;
    width: 30%;
}

/* Services Styles */
ul#services li {
    list-style: none;
    padding: 20px;
    border: var(--nba) solid 2px;
    margin-bottom: 5px;
    background: var(--bg2);
    color: var(--lghtxt);
}

/* Footer Style */
footer {
    padding:20px;
    margin-top: 25px;
    text-align: center;
    background-color: var(--nba);
    color: var(--lghtxt);
    clear: both;
}

footer a {
    text-decoration: none;
    color: var(--bg2);
}

/* Responsive screen size styles */
/* tablet sizes */
@media(max-width: 768px){
    /* Header Styles */
    header#header-brand,
    header nav,
    header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }

    #header-brand h1 {
        padding-top: 20px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
    }

    /* intro blurb styles */
    section#blurb {
        min-height: 450px;
        background-position: center;
        background-position-x: center;
        background-position-y: 50px;
        background-attachment: fixed;
    }

    br.mobile-only {
        display: block;
    }

    section#blurb h1{
        font-size: 30px;
        padding-top: 60px;
    }

   p#blurb-text{
        font-size: 16px;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Request Quote Sections */
    section#contact-form {
        height: auto;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    section#contact-form .container {
        display: block;
    }

    section#contact-form h2 {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 30px;
    }

    section#contact-form form {
        display:flex;
        flex-wrap: wrap;
    }

    section#contact-form form > div{
        display:flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    section#contact-form .submit-button {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media(max-width: 400px){
    /* small phones? */
    
}